.header-refresh-button-wrapper {
  margin-right: 8px;
}

.list-item-container {
  width: available;
  display: flex;
  align-items: center;

  button {
    margin-left: 8px;
  }
}

.add-button {
  width: 144px;
}
