mat-form-field {
  width: 100%;
}

.inputs-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  mat-form-field {
    margin-left: 8px;
  }

  mat-form-field:nth-child(1) {
    margin-left: 0;
  }
}

.bottom-buttons-wrapper {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 8px;
  }
}

::ng-deep.mat-form-field-infix {
  display: flex !important;
}
