<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1 *ngIf="user">Edit user</h1>
      <h1 *ngIf="!user">Not found</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="user">
    <p>Registered: {{user.registeredAt | formattedDate}}</p>
    <app-users-form
      #form
      [writeDto]="user"
      (onCancel)="goBack()"
      (onSave)="save($event)">
    </app-users-form>
  </mat-card-content>
</mat-card>
