<section>
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="inputs-row">
      <mat-form-field appearance="outline">
        <mat-label>First name</mat-label>
        <input
          matInput
          type="text"
          formControlName="firstName"
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last name</mat-label>
        <input
          matInput
          type="text"
          formControlName="lastName"
        >
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="text"
        formControlName="email"
      >
    </mat-form-field>

    <div class="inputs-row">
      <mat-form-field appearance="outline">
        <mat-label>Birth day</mat-label>
        <input
          matInput
          [matDatepicker]="birthDayPicker"
          formControlName="birthDay"
        >
        <mat-datepicker-toggle matSuffix [for]="birthDayPicker"></mat-datepicker-toggle>
        <mat-datepicker #birthDayPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Team</mat-label>
        <mat-select formControlName="teamId" [(value)]="writeDto.teamId">
          <mat-option *ngFor="let team of teams$ | async" [value]="team.id">
            {{team.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="bottom-buttons-wrapper">
      <button
        mat-stroked-button
        color="warn"
        type="button"
        (click)="onCancel.emit()">
        Cancel
      </button>
      <button
        mat-flat-button
        color="accent"
        type="submit"
        [disabled]="!form.valid">
        Save
      </button>
    </div>
  </form>
</section>
