<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Add user</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-users-form
      #form
      (onCancel)="goBack()"
      (onSave)="add($event)">
    </app-users-form>
  </mat-card-content>
</mat-card>
