<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Users</h2>
    </mat-card-title>
    <div class="expanded"></div>
    <div class="header-refresh-button-wrapper">
      <button mat-icon-button color="primary" aria-label="Refresh list" (click)="loadModels()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </mat-card-header>

  <mat-list>
    <mat-list-item  *ngFor="let user of models">
      <span mat-line>{{ user.firstName }} {{ user.lastName }}</span>
      <span mat-line>{{ user.email }}</span>
      <div class="list-item-container">
        <button mat-stroked-button color="accent" routerLink="edit/{{user.id}}">Edit</button>
        <button mat-stroked-button color="warn" (click)="delete(user)">Delete</button>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
      <div class="expanded"></div>
      <button mat-stroked-button color="accent" class="add-button" routerLink="add">
        <mat-icon>add</mat-icon>
        <span>Add</span>
      </button>
    </mat-list-item>
  </mat-list>
</mat-card>
