<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Go to...</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-nav-list>
      <a mat-list-item routerLink="../users">Users</a>
      <a mat-list-item routerLink="../projects">Projects</a>
      <a mat-list-item routerLink="../teams">Teams</a>
      <a mat-list-item routerLink="../tasks">Tasks</a>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
