<section>
  <form [formGroup]="form" (ngSubmit)="save()">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input
        matInput
        type="text"
        formControlName="name"
      >
    </mat-form-field>
    <div class="bottom-buttons-wrapper">
      <button
        mat-stroked-button
        color="warn"
        type="button"
        (click)="onCancel.emit()">
        Cancel
      </button>
      <button
        mat-flat-button
        color="accent"
        type="submit"
        [disabled]="!form.valid">
        Save
      </button>
    </div>
  </form>
</section>
