<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1 *ngIf="team">Edit team</h1>
      <h1 *ngIf="!team">Not found</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="team">
    <p>Created: {{team.createdAt | formattedDate}}</p>
    <app-teams-form
      #form
      [writeDto]="team"
      (onCancel)="goBack()"
      (onSave)="save($event)">
    </app-teams-form>
  </mat-card-content>
</mat-card>
