<section>
  <form [formGroup]="form" (ngSubmit)="save()">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input
        matInput
        type="text"
        formControlName="name"
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input
        matInput
        type="text"
        formControlName="description"
      >
    </mat-form-field>

    <div class="inputs-row">
      <mat-form-field appearance="outline">
        <mat-label>Project</mat-label>
        <mat-select formControlName="projectId" [(value)]="writeDto.projectId">
          <mat-option *ngFor="let project of projects$ | async" [value]="project.id">
            {{project.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Author</mat-label>
        <mat-select formControlName="performerId" [(value)]="writeDto.performerId">
          <mat-option *ngFor="let user of users$ | async" [value]="user.id">
            {{user.firstName}} {{user.lastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Finished at</mat-label>
      <input
        matInput
        [matDatepicker]="finishedAtPicker"
        formControlName="finishedAt"
      >
      <mat-datepicker-toggle matSuffix [for]="finishedAtPicker"></mat-datepicker-toggle>
      <mat-datepicker #finishedAtPicker></mat-datepicker>
    </mat-form-field>

    <mat-button-toggle-group
      name="d"
      (change)="selectState($event.value)"
      [value]="writeDto.state">
      <mat-button-toggle
        *ngFor="let state of states | enum"
        [value]="state.index">
        {{state.name}}
      </mat-button-toggle>
    </mat-button-toggle-group>

    <div class="bottom-buttons-wrapper">
      <button
        mat-stroked-button
        color="warn"
        type="button"
        (click)="onCancel.emit()">
        Cancel
      </button>
      <button
        mat-flat-button
        color="accent"
        type="submit"
        [disabled]="!form.valid">
        Save
      </button>
    </div>
  </form>
</section>
