<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1 *ngIf="project">Edit project</h1>
      <h1 *ngIf="!project">Not found</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="project">
    <p>Created: {{project.createdAt | formattedDate}}</p>
    <app-projects-form
      #form
      [writeDto]="project"
      (onCancel)="goBack()"
      (onSave)="save($event)">
    </app-projects-form>
  </mat-card-content>
</mat-card>
