@import "theme";

html, body {
  height: 100%;
}

body {
  margin: 0;
  color: $bsa-angular-text-white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $bsa-angular-background;
}

a {
  text-decoration: none;
}

mat-card {
  background-color: $bsa-angular-surface !important;
}

.expanded {
  flex: 1 1 auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: $bsa-angular-text-white;
  -webkit-box-shadow: 0 0 0 1000px #00000000 inset;
  transition: background-color 50000s ease-in-out 0s;
}
