@use '~@angular/material' as mat;

@include mat.core();

$bsa-angular-primary: mat.define-palette(mat.$orange-palette, 500);
$bsa-angular-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$bsa-angular-warn: mat.define-palette(mat.$red-palette);

$bsa-angular-text-white: #fff;
$bsa-angular-text-black: #333;
$bsa-angular-background: #121212;
$bsa-angular-surface: #1e1e1e;
$bsa-angular-inactive: gray;

$bsa-angular-theme: mat.define-dark-theme((
  color: (
    primary: $bsa-angular-primary,
    accent: $bsa-angular-accent,
    warn: $bsa-angular-warn,
  )
));

@include mat.core-theme($bsa-angular-theme);

@include mat.all-component-themes($bsa-angular-theme);
