<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Add task</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-tasks-form
      #form
      (onCancel)="goBack()"
      (onSave)="add($event)">
    </app-tasks-form>
  </mat-card-content>
</mat-card>
