<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1 *ngIf="task">Edit task</h1>
      <h1 *ngIf="!task">Not found</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="task">
    <p>Created: {{task.createdAt | formattedDate}}</p>
    <app-tasks-form
      #form
      [writeDto]="task"
      (onCancel)="goBack()"
      (onSave)="save($event)">
    </app-tasks-form>
  </mat-card-content>
</mat-card>
