<section>
  <form [formGroup]="form" (ngSubmit)="save()">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input
        matInput
        type="text"
        formControlName="name"
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input
        matInput
        type="text"
        formControlName="description"
      >
    </mat-form-field>

    <div class="inputs-row">
      <mat-form-field appearance="outline">
        <mat-label>Author</mat-label>
        <mat-select formControlName="authorId" [(value)]="writeDto.authorId">
          <mat-option *ngFor="let user of users$ | async" [value]="user.id">
            {{user.firstName}} {{user.lastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Team</mat-label>
        <mat-select formControlName="teamId" [(value)]="writeDto.teamId">
          <mat-option *ngFor="let team of teams$ | async" [value]="team.id">
            {{team.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Deadline</mat-label>
      <input
        matInput
        [matDatepicker]="deadlinePicker"
        formControlName="deadline"
      >
      <mat-datepicker-toggle matSuffix [for]="deadlinePicker"></mat-datepicker-toggle>
      <mat-datepicker #deadlinePicker></mat-datepicker>
    </mat-form-field>

    <div class="bottom-buttons-wrapper">
      <button
        mat-stroked-button
        color="warn"
        type="button"
        (click)="onCancel.emit()">
        Cancel
      </button>
      <button
        mat-flat-button
        color="accent"
        type="submit"
        [disabled]="!form.valid">
        Save
      </button>
    </div>
  </form>
</section>
